<!DOCTYPE html>
<html>
<head>
  <title>Editar Sala de Defesa</title>
  <%= stylesheet_link_tag 'edit', media: 'all' %> <!-- Referenciando o arquivo de estilos -->
</head>
<body>

<div class="container">
  <h1 class="page-title">Editar Sala de Defesa</h1>

  <%= render 'form' %>

  <%= link_to 'Voltar', sala_de_defesa_path(@sala_de_defesa), class: 'btn' %>
</div>

</body>
</html>
