<!-- app/views/welcome/index.html.erb -->
<h1>Bem-vindo ao Sistema de TCC - Univiçosa</h1>

<nav>
  <ul>
    <li><%= link_to 'Professores', professors_path %></li>
    <li><%= link_to 'Alunos', alunos_path %></li>
    <li><%= link_to 'Salas de Defesa', sala_de_defesas_path %></li>
    <li><%= link_to 'Agendamentos de Defesa', agendamentos_path %></li>
  </ul>
</nav>
